.dishList {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px;
    margin-top: 20px;
    padding: 0 20px;
    box-sizing: border-box;
    margin-bottom: 100px;
    width: 100%; 
    max-width: 1200px; 
    justify-items: center; 
  }


  
  /* Mobile responsiveness */
  @media (max-width: 1200px) {
    .dishList {
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (max-width: 768px) {
    .dishList {
      grid-template-columns: 1fr; 
    }
  }
  